<img cImg   height="100" rounded src=".\assets\icons8-sci-fi-80.png" width="150" />
<img cImg height="100" rounded src=".\assets\icons8-physics-book-96.png" width="150" />
<img cImg height="100" rounded src=".\assets\icons8-rocket-64.png" width="150" /> 
<img cImg   height="100" rounded src=".\assets\icons8-sci-fi-80.png" width="150" />
<img cImg height="100" rounded src=".\assets\icons8-physics-book-96.png" width="150" />
<img cImg height="100" rounded src=".\assets\icons8-rocket-64.png" width="150" /> 

<img cImg   height="100" rounded src=".\assets\icons8-sci-fi-80.png" width="150" />
<img cImg height="100" rounded src=".\assets\icons8-physics-book-96.png" width="150" />
<img cImg height="100" rounded src=".\assets\icons8-rocket-64.png" width="150" /> 
<img cImg   height="100" rounded src=".\assets\icons8-sci-fi-80.png" width="150" />
<p style="margin-left: 2.5em;padding: 0 7em 2em 0;border-width: 2px;"></p>

<h1 style="text-align:center;color:crimson;font-size:60px;font-family: cursive;" >TIME TABLE</h1>
<p style="margin-left: 2.5em;padding: 0 7em 2em 0;border-width: 2px;"></p>
<mat-grid-list cols="9" rowHeight="50px">
    
    <mat-grid-tile style="background-color: crimson">DAY/PERIOD</mat-grid-tile>
    <mat-grid-tile  style="background-color: rgb(2, 65, 47)">1</mat-grid-tile>
    <mat-grid-tile style="background-color:rgb(2, 65, 47) ">2</mat-grid-tile>
    <mat-grid-tile style="background-color: rgb(2, 65, 47)">3</mat-grid-tile>
    <mat-grid-tile style="background-color: rgb(2, 65, 47)">4</mat-grid-tile>
    <mat-grid-tile style="background-color: rgb(2, 65, 47)">5</mat-grid-tile>
    <mat-grid-tile style="background-color: rgb(2, 65, 47)">6</mat-grid-tile>
    <mat-grid-tile style="background-color:rgb(2, 65, 47)">7</mat-grid-tile>
    <mat-grid-tile style="background-color:rgb(2, 65, 47)">8</mat-grid-tile>
    <mat-grid-tile  style="background-color: rgb(2, 65, 47)">MONDAY</mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile style="background-color:rgb(2, 65, 47)">TUESDAY</mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile style="background-color:rgb(2, 65, 47)">WEDNESDAY</mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile style="background-color:  rgb(2, 65, 47)"> THURSDAY</mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile style="background-color :rgb(2, 65, 47)"> FRIDAY</mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
   
    
  </mat-grid-list>
  <p style="margin-left: 2.5em;padding: 0 7em 2em 0;border-width: 2px;"></p>
  <p style="margin-left: 2.5em;padding: 0 7em 2em 0;border-width: 2px;"></p>
  <img cImg   height="100" rounded src=".\assets\icons8-ice-cream-cone-96.png" width="150" />
  <img cImg height="100" rounded src=".\assets\icons8-informatics-book-96.png" width="150" />
  <img cImg height="100" rounded src=".\assets\icons8-iron-man-144.png" width="150" />
  <img cImg   height="100" rounded src=".\assets\icons8-ice-cream-cone-96.png" width="150" />
  <img cImg height="100" rounded src=".\assets\icons8-informatics-book-96.png" width="150" />
  <img cImg height="100" rounded src=".\assets\icons8-iron-man-144.png" width="150" />
  <img cImg   height="100" rounded src=".\assets\icons8-ice-cream-cone-96.png" width="150" />
  <img cImg height="100" rounded src=".\assets\icons8-informatics-book-96.png" width="150" />
  <img cImg height="100" rounded src=".\assets\icons8-iron-man-144.png" width="150" />
  <img cImg   height="100" rounded src=".\assets\icons8-ice-cream-cone-96.png" width="150" />
  